<div class="course-detail">
    <h1 class="course-detail__title">{{ title }}</h1>
    <img class="course-detail__image" src="{{ img }}" alt="{{ title }}">
    <p class="course-detail__price js-price-format big">{{ price }}</p>
    <a href="/courses" class="btn btn-primary">Назад к курсам</a>
</div>