.nav-wrapper {
    padding: 0 2rem;
}

.course {
    height: 100%;
    margin-bottom: 0;
}

.course__image {
    padding: 15px;
}

.course__image img {
    max-width: 100%;
    height: auto;
}

.course__price {
    font-size: 2em;
}